.font-simple{
    font-family: monospace;
}
.aesthetic-tittle{
    font-family: Courier;
}
.aesthetic-simple{
    font-family: monospace;
    font-size: 18px;
}
footer{
    margin-top: auto;
    flex: auto;
}
#formSpace{
    background-color: burlywood;
    border-radius: 3px;
}
#buttons{
    margin-top: 10px;
}
#libroSpace{
    border-radius: 3px;
    border-color: burlywood;
    border: 10px;
    border-style: double;
}